.header {
  padding: 15px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 36px;

  &-link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #000000;
    padding: 20px 0;
    cursor: pointer;
    transition: color 250ms linear;

    &.active {
      font-weight: 700;
      border-bottom: 2px solid #00d254;
    }

    &:hover {
      color: #00d254;
    }
  }
}

#solution {
  position: relative;

  &:hover .solution-block {
    opacity: 1;
    pointer-events: all;
  }

  &:hover #solution-icon {
    transform: rotate(180deg);
  }
}

#solution-icon {
  transform: rotate(0);
  transition: transform 250ms linear;
}

.solution-block {
  position: absolute;
  top: 100%;
  right: -100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}

.solution-modal {
  filter: drop-shadow(1px 2px 10px rgba(22, 33, 67, 0.18));
  width: 480px;
  height: 260px;
  display: flex;
}

.solution-menu {
  background: #ffffff;
  width: 100%;
  padding: 35px 30px 35px 50px;
}

.solution-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.solution-menu-link {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: #000000;
  transition: color 250ms linear;

  &:hover {
    color: #00d254;
  }
  &:hover &-icon {
    opacity: 1;
    left: -15px;
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: -5px;
    opacity: 0;
    transition: opacity 250ms linear;
    transition-property: opacity, left;
    transform: translateY(-90%);
  }
}

.setting {
  display: flex;
  align-items: center;
  gap: 12px;
}

.setting-lang {
  position: relative;
  width: 33px;

  &:hover .setting-lang-list {
    opacity: 1;
    pointer-events: all;
  }

  &:hover .setting-lang-current-icon {
    transform: rotate(180deg);
  }
}

.setting-lang-white {
  position: relative;
  width: 33px;

  &:hover .setting-lang-list {
    opacity: 1;
    pointer-events: all;
  }
  & .setting-lang-current,
  .setting-lang-item {
    color: #ffffff;
  }

  &:hover .setting-lang-current-icon {
    transform: rotate(180deg);
  }
}

.setting-lang-current {
  display: flex;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 5px;

  color: #000000;
  cursor: pointer;

  &-icon {
    margin-right: 5px;
    transition: transform 250ms linear;
  }
}

.setting-lang-list {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}

.setting-lang-item {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #000000;
  cursor: pointer;
}

.hero {
  padding: 97px 0;
}
.hero-block {
  display: flex;
  gap: 50px;
}

.hero-content-title-first {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 85px;
  line-height: 123px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #000000;
}

.hero-content-title-second {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 85px;
  line-height: 123px;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;

  color: #00d254;
}

.hero-content-title-three {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 85px;
  line-height: 123px;
  text-transform: uppercase;
  margin-left: 5%;

  color: #000000;
}

.hero-content-desc {
  display: flex;
  align-items: flex-start;

  &-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    max-width: 570px;

    opacity: 0.75;
  }

  &-link {
    display: flex;
    align-items: center;
    margin-top: -30px;
    justify-content: center;
    font-family: "Lexend Exa";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    background: #00d254;
    border-radius: 50%;
    width: 140px;
    height: 140px;
  }
}

// SLIDER

.slider-block {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.slider-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #000000;

  opacity: 0.75;
  margin-top: 38px;
}
.slide1 {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid #00d254;
  border-radius: 8px;
  width: 149px;
  height: 406px;
  // width: 687px;
  transition: width 250ms linear;
  cursor: pointer;

  &-gray {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: left 250ms linear;
    transition-property: left, filter;
    &-gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(242, 242, 242, 0) 0%,
        rgba(248, 248, 248, 0.55) 54.17%,
        #ffffff 77.19%
      );
      transition: opacity 250ms linear;
    }
  }

  &-text {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    transform: rotate(-90deg);
    margin-bottom: 80px;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    max-width: 177px;

    color: #00d254;
    z-index: 1;
    transition: opacity 250ms linear;

    &-span {
      color: #000000;
    }
  }

  &.active {
    width: 687px;
    background: rgba(0, 210, 84, 0.1);
  }

  &.active .slide1-text {
    opacity: 0;
  }

  &.active .slide1-content {
    opacity: 1;
  }
  &.active &-gray {
    position: absolute;
    top: 0;
    left: 65px;
    filter: grayscale(0);
  }

  &.active &-gray-gradient {
    opacity: 0;
  }

  &:hover &-gray {
    filter: grayscale(0);
  }
}

.slide1-content {
  position: absolute;
  top: 45px;
  right: 45px;
  opacity: 0;
  transition: opacity 250ms linear;
}

.slide1-content-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #00d254;
  margin-bottom: 25px;

  &-span {
    color: #000000;
  }
}

.slide1-content-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  max-width: 322px;
  margin-bottom: 37px;
}

.slide1-content-buttons {
  display: flex;
  align-items: center;
}

.slide1-content-buttons-text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;

  color: #00d254;
  margin-right: 36px;
}

.slide1-content-buttons-line {
  width: 82px;
  height: 1px;
  background: #00d254;
  margin-right: 15px;
}

.slide1-content-buttons-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00d254;
  box-shadow: 0px 30px 16px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  cursor: pointer;

  &-icon {
    width: 12px;
    height: 16px;
  }
}

.integrations {
  padding: 130px 0;
}

.integrations-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.integrations-content-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 80px;
  text-transform: uppercase;

  color: #1e1e1e;
  margin-bottom: 15px;
}

.integrations-content-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;

  &-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #000000;

    opacity: 0.75;
    max-width: 557px;
  }
}

.integrations-content-buttons {
  display: flex;
  gap: 20px;
}

.integrations-image-icon {
  width: 100%;
}

.pricing {
  padding: 120px 0;
  background: #e6e7e8;
}

.pricing-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.pricing-head-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 80px;
  text-align: right;
  text-transform: uppercase;

  color: #1e1e1e;
}

.pricing-head-billing {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pricing-head-billing-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

  opacity: 0.2;
}

.pricing-head-billing-second-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.pricing-head-billing-second {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.pricing-head-billing-switch {
  display: flex;
  justify-content: flex-start;
  width: 61px;
  height: 37px;
  padding: 3px;
  background: #b2b5bc;
  border-radius: 1000px;
  cursor: pointer;
}

.pricing-head-billing-switch-bool {
  pointer-events: none;
  background: #ffffff;
  border-radius: 1000px;
  width: 31px;
  height: 31px;
}

.pricing-list {
  display: flex;
  gap: 16px;
}

.pricing-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 32px) / 4);
  padding: 20px 30px 30px 30px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.pricing-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 2px solid #e6e7e8;
  margin-bottom: 20px;
}

.pricing-item-head-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  color: #000000;
}

.pricing-item-price {
  border-bottom: 2px solid #e6e7e8;
  padding-bottom: 20px;
  margin-bottom: 15px;

  &-custom {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;

    opacity: 0.75;
    margin-bottom: 37px;
  }
}
.pricing-item-price-count {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 80px;
  text-transform: uppercase;

  color: #1e1e1e;

  &-up {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 21.9375px;
    line-height: 27px;
    text-transform: uppercase;

    color: #1e1e1e;
  }

  &-down {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 21.9375px;
    line-height: 27px;
    color: #1e1e1e;
    text-transform: lowercase;
  }
}

.pricing-item-price-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 37px;
  letter-spacing: -0.01em;

  color: #a7acb6;
}

.pricing-item-service {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.pricing-item-service-item {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 37px;
  letter-spacing: -0.01em;
  color: #a7acb6;

  &-bold {
    font-weight: 700;
    color: #000000;
  }
}

.pricing-item-buttons {
  margin-top: auto;
}

.blog {
  padding: 130px 0;
  background: #ffffff;
}

.blog-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 80px;
  text-transform: uppercase;

  color: #1e1e1e;
  margin-bottom: 45px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #bfbfbf;
}

.blog-item {
  display: flex;
  gap: 45px;
}

.blog-item-image {
  width: 100%;
  max-width: 409px;
}

.blog-item-content {
  display: flex;
  flex-direction: column;
}
.blog-item-content-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.blog-item-content-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  text-transform: uppercase;

  color: #000000;
}

.blog-item-content-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: #000000;
  margin-bottom: 40px;
}

.blog-item-content-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.blog-item-content-button {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: #000000;
  padding: 8px 30px;
  border: 2px solid #01e25b;
  border-radius: 1000px;
  cursor: pointer;
  transition: color 250ms linear;
  transition-property: color, background;

  &:hover {
    color: #ffffff;
    background: #00d254;
  }
}

.blog-item-content-date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  text-align: right;

  color: #000000;

  opacity: 0.25;
}

.blog-all {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  &-button {
    font-family: "Lexend Exa";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    border-radius: 7px;
    padding: 11px 90px;
    cursor: pointer;
    transition: color 250ms linear;
    transition-property: color, background, border;

    &:hover {
      color: #ffffff;
      background: #00d254;
      border-color: transparent;
    }
  }
}

.footer-info {
  padding: 75px 0 65px 0;
  background: #1e1e1e;
}

.footer-info-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-link {
    cursor: pointer;
  }
}

.footer-info-block {
  display: flex;
  justify-content: space-between;
}

.footer-info-navigation {
  display: flex;
  gap: 150px;
}

.footer-info-menu {
  display: flex;
  align-items: flex-start;
  gap: 150px;
}

.footer-info-menu-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer-info-menu-link {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;
}

.footer-info-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-info-contacts-mail {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;

  margin-top: 35px;
}

.footer-info-contacts-social {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.footer-info-contacts-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4b4b4b;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.footer-copyright {
  background: #1e1e1e;
  padding: 15px 0;
  border-top: 1px solid #616161;

  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-copyright-report {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.04em;

  color: #808794;
  padding: 5px 30px;
  border: 1px solid #808794;
  border-radius: 382.831px;
}

.footer-copyright-info {
  font-family: "Proba Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #808794;
}
