.pay-section-first {
  height: 300px;
  background: #fff;
  //   margin-bottom: -100px;
}

.pay-section-three {
  height: 300px;
  background: #fff;
  margin-top: -100px;
}

.pay-section-second {
  background-image: url("../../assets/images/pay/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   height: 560px;
}

.pay-section-second-data {
  height: 900px;
  background: #ffffff;
  box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.05),
    0px 103px 115px rgba(0, 0, 0, 0.03),
    0px 43.0309px 70.7697px rgba(0, 0, 0, 0.0359427),
    0px 23.0064px 60.5741px rgba(0, 0, 0, 0.0298054),
    0px 12.8972px 52.6743px rgba(0, 0, 0, 0.025),
    0px 6.84961px 41.3556px rgba(0, 0, 0, 0.0201946);
  border-radius: 80px;
  position: sticky;
  padding: 60px;

  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.pay-section-second-data-prompt {
  width: 60%;
}

.pay-section-second-data-prompt-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;

  &-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #404040;
  }

  &-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-decoration-line: underline;

    color: #474747;

    opacity: 0.35;
  }
}

.pay-section-second-data-prompt-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.pay-section-second-data-prompt-button {
  border: 1px solid #bdc9d1;
  border-radius: 7px;
  padding: 13px 38px;

  font-family: "Lexend Exa";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.05em;

  color: #bdc9d1;
  cursor: pointer;

  transition: color 250ms linear;
  transition-property: color, background;

  &.active {
    color: #ffffff;
    background: #00d254;
  }

  &:hover {
    color: #ffffff;
    background: #00d254;
  }
}

.pay-section-second-data-prompt-pool-form {
  display: flex;
  flex-direction: column;
}

.pay-section-second-data-prompt-pool-form-number {
  margin-bottom: 40px;
  &-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #474747;
  }

  &-desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #474747;

    opacity: 0.5;
  }

  &-input-card {
    position: relative;
    width: 100%;
  }

  &-input {
    box-sizing: border-box;
    width: 100%;
    background: #f9fafc;
    border: 2px solid rgba(189, 201, 209, 0.5);
    border-radius: 12px;
    padding: 21px;
    padding-left: 100px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #b4bcd3;
    transition: border 250ms linear;
    transition-property: border, background;

    &-master {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
    }

    &-accept {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
    }

    &:focus {
      outline: none;
      background: rgba(0, 210, 84, 0.05);
      border: 2px solid #00d254;
    }
  }
}

.pay-section-second-data-prompt-pool-form-cvv {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.pay-section-second-data-prompt-pool-form-cvv-titles {
  width: 40%;

  &-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #474747;
  }

  &-desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #474747;

    opacity: 0.5;
  }
}

.pay-section-second-data-prompt-pool-form-cvv-inputs {
  position: relative;
  width: 60%;
  &-input {
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid rgba(189, 201, 209, 0.5);
    border-radius: 12px;
    padding: 21px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    color: #1f2b53;
    transition: border 250ms linear;
    transition-property: border, background;

    &:focus {
      outline: none;
      background: rgba(0, 210, 84, 0.05);
      border: 1px solid #00d254;
    }
  }

  &-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
}

.pay-section-second-data-prompt-pool-form-date {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.pay-section-second-data-prompt-pool-form-date-titles {
  width: 40%;

  &-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #474747;
  }

  &-desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #474747;

    opacity: 0.5;
  }
}

.pay-section-second-data-prompt-pool-form-date-inputs {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 60%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  text-align: center;

  color: #1f2b53;

  &-mobile {
    display: none;
  }
}

.pay-section-second-data-prompt-pool-form-date-input {
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid rgba(189, 201, 209, 0.5);
  border-radius: 12px;
  padding: 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  line-height: 38px;
  color: #1f2b53;
  transition: border 250ms linear;
  transition-property: border, background;

  &:focus {
    outline: none;
    background: rgba(0, 210, 84, 0.05);
    border: 1px solid #00d254;
  }
}

.pay-section-second-data-prompt-pool-form-password {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}

.pay-section-second-data-prompt-pool-form-password-titles {
  width: 40%;

  &-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #474747;
  }

  &-desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #474747;

    opacity: 0.5;
  }
}

.pay-section-second-data-prompt-pool-form-password {
  &-input {
    width: 60%;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid rgba(189, 201, 209, 0.5);
    border-radius: 12px;
    padding: 21px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    color: #1f2b53;
    transition: border 250ms linear;
    transition-property: border, background;

    &:focus {
      outline: none;
      background: rgba(0, 210, 84, 0.05);
      border: 1px solid #00d254;
    }
  }
}

.pay-section-second-data-prompt-pool-form-submit {
  display: flex;
  justify-content: center;
  font-family: "Lexend Exa";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.05em;

  color: #ffffff;
  padding: 35px 47px;
  background: #202020;
  border-radius: 382.831px;
  cursor: pointer;

  transition: color 250ms linear;
  transition-property: color, background;

  &:hover {
    color: #ffffff;
    background: #00d254;
  }

  & .mobile {
    display: none;
  }
}

.pay-section-second-data-card {
  width: 40%;

  &-mobile {
    display: none;
  }
}

.pay-section-second-data-card-block {
  background: #eff4f8;
  padding: 30px 50px;
  border-radius: 10px;
  margin-top: 90px;
}

.pay-section-second-data-card-plastic {
  background-image: url("../../assets/images/pay/pay-plastic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 406px;
  padding: 55px 36px;
  display: flex;
  flex-direction: column;
  margin-top: -140px;

  background-blend-mode: overlay, normal, normal;
  box-shadow: 0px -2px 20px rgba(0, 179, 71, 0.07),
    0px 103px 115px rgba(0, 0, 0, 0.03),
    0px 43.0309px 70.7697px rgba(0, 0, 0, 0.0359427),
    0px 23.0064px 60.5741px rgba(0, 0, 0, 0.0298054),
    0px 12.8972px 52.6743px rgba(0, 0, 0, 0.025),
    0px 6.84961px 41.3556px rgba(0, 0, 0, 0.0201946);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  box-sizing: border-box;
  border-radius: 25px;
}

.pay-section-second-data-card-plastic-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pay-section-second-data-card-plastic-info {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.pay-section-second-data-card-plastic-info-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  color: #1f2b53;
}

.pay-section-second-data-card-plastic-info-number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #1f2b53;
  margin-bottom: 20px;
}

.pay-section-second-data-card-plastic-info-date {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
    color: #1f2b53;
  }
}

.pay-section-second-data-card-information {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 45px;
}

.pay-section-second-data-card-information-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #7782a3;
  }

  &-desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: right;

    color: #1f2b53;
  }
}

.pay-section-second-data-card-information-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Exa";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.05em;

  color: #07bc65;
  background: rgba(0, 210, 84, 0.15);
  border-radius: 382.831px;
}

.pay-section-second-data-card-decor {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 30px 0;

  &-icon {
    width: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -51px;
    transform: translateY(-50%);
    width: 25px;
    height: 40px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    background: #ffffff;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -51px;
    transform: translateY(-50%);
    width: 25px;
    height: 40px;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    background: #ffffff;
  }
}

.pay-section-second-data-card-pay {
  display: flex;
  align-items: center;
}

.pay-section-second-data-card-pay-content {
  &-desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #7782a3;
  }

  &-sum {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;

    color: #1e2a52;

    &-span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 49px;
      color: #7782a3;
    }
  }
}

@media screen and (max-width: 450px) {
  .pay-section-first {
    height: 20px;
  }

  .pay-section-three {
    height: unset;
    margin-top: 0;
  }

  .pay-section-second-data {
    height: unset;
    border-radius: 45px;
    padding: 25px;
    flex-direction: column;
  }

  .pay-section-second-data-prompt {
    width: 100%;
  }

  .pay-section-second-data-prompt-titles {
    margin-bottom: 13px;
    &-link {
      display: none;
    }
  }

  .pay-section-second-data-prompt-buttons {
    display: none;
  }

  .pay-section-second-data-prompt-button {
    border: 1px solid #bdc9d1;
    border-radius: 7px;
    padding: 13px 38px;

    font-family: "Lexend Exa";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.05em;

    color: #bdc9d1;
    cursor: pointer;

    transition: color 250ms linear;
    transition-property: color, background;

    &.active {
      color: #ffffff;
      background: #00d254;
    }

    &:hover {
      color: #ffffff;
      background: #00d254;
    }
  }

  .pay-section-second-data-prompt-pool-form {
    display: flex;
    flex-direction: column;

    & .block-mobile {
      display: flex;
      flex-direction: row-reverse;
      gap: 13px;
    }
  }

  .pay-section-second-data-prompt-pool-form-number {
    margin-bottom: 10px;
    &-title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 30px;
      color: #919191;
    }

    &-desc {
      display: none;
    }

    &-input-card {
      width: 100%;
    }

    &-input {
      background: #ffffff;
      border: 2px solid rgba(189, 201, 209, 0.5);
      border-radius: 7px;
      padding: 8px 20px;
      color: #1f2b53;
      font-size: 18px;
      line-height: 38px;

      &-master {
        display: none;
      }

      &-accept {
        display: none;
      }

      &:focus {
        outline: none;
        background: rgba(0, 210, 84, 0.05);
        border: 2px solid #00d254;
      }
    }
  }

  .pay-section-second-data-prompt-pool-form-cvv {
    gap: 5px;
    justify-content: stretch;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
  }

  .pay-section-second-data-prompt-pool-form-cvv-titles {
    width: 100%;

    &-title {
      font-weight: 600;
      font-size: 12px;
      line-height: 30px;
      color: #919191;
    }

    &-desc {
      display: none;
    }
  }

  .pay-section-second-data-prompt-pool-form-cvv-inputs {
    position: relative;
    width: 100%;
    &-input {
      width: 100%;
      border: 1px solid rgba(189, 201, 209, 0.5);
      border-radius: 7px;
      padding: 8px 20px;
      font-size: 18px;
      line-height: 38px;
      color: #1f2b53;

      &:focus {
        outline: none;
        background: rgba(0, 210, 84, 0.05);
        border: 1px solid #00d254;
      }
    }

    &-icon {
      display: none;
    }
  }

  .pay-section-second-data-prompt-pool-form-date {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
  }

  .pay-section-second-data-prompt-pool-form-date-titles {
    width: 100%;

    &-title {
      font-weight: 600;
      font-size: 12px;
      line-height: 30px;
      color: #919191;
    }

    &-desc {
      display: none;
    }
  }

  .pay-section-second-data-prompt-pool-form-date-inputs {
    display: none;

    &-mobile {
      display: flex;
      align-items: center;
      width: 100%;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 38px;
      text-align: center;
      color: #1f2b53;
    }
  }

  .pay-section-second-data-prompt-pool-form-date-input {
    width: 100%;
    border: 1px solid rgba(189, 201, 209, 0.5);
    border-radius: 7px;
    padding: 8px 20px;
    font-size: 18px;
    line-height: 38px;
    color: #1f2b53;

    &:focus {
      outline: none;
      background: rgba(0, 210, 84, 0.05);
      border: 1px solid #00d254;
    }
  }

  .pay-section-second-data-prompt-pool-form-password {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .pay-section-second-data-prompt-pool-form-password-titles {
    width: 100%;

    &-title {
      font-weight: 600;
      font-size: 12px;
      line-height: 30px;
      color: #919191;
    }

    &-desc {
      display: none;
    }
  }

  .pay-section-second-data-prompt-pool-form-password {
    &-input {
      width: 100%;
      border: 1px solid rgba(189, 201, 209, 0.5);
      border-radius: 7px;
      padding: 8px 20px;
      font-size: 18px;
      line-height: 38px;
      color: #1f2b53;

      &:focus {
        outline: none;
        background: rgba(0, 210, 84, 0.05);
        border: 1px solid #00d254;
      }
    }
  }

  .pay-section-second-data-prompt-pool-form-submit {
    display: none;
    &.mobile {
      display: flex;
      justify-content: center;
      font-family: "Lexend Exa";
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 15px;
      text-align: center;
      letter-spacing: -0.05em;

      color: #ffffff;
      padding: 28px 0px;
      background: #202020;
      border-radius: 382.831px;
      cursor: pointer;

      transition: color 250ms linear;
      transition-property: color, background;

      &:hover {
        color: #ffffff;
        background: #00d254;
      }
    }
  }

  .pay-section-three {
    background: #eff4f8;
    padding-top: 120px;
  }
  .pay-section-second-data-card {
    display: none;

    &-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .pay-section-second-data-card-block {
    background: #eff4f8;
    padding: 0 20px;
    padding-bottom: 40px;
  }

  .pay-section-second-data-card-plastic {
    background-image: url("../../assets/images/pay/pay-plastic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 406px;
    padding: 55px 36px;
    display: flex;
    flex-direction: column;
    margin-top: -140px;

    background-blend-mode: overlay, normal, normal;
    box-shadow: 0px -2px 20px rgba(0, 179, 71, 0.07),
      0px 103px 115px rgba(0, 0, 0, 0.03),
      0px 43.0309px 70.7697px rgba(0, 0, 0, 0.0359427),
      0px 23.0064px 60.5741px rgba(0, 0, 0, 0.0298054),
      0px 12.8972px 52.6743px rgba(0, 0, 0, 0.025),
      0px 6.84961px 41.3556px rgba(0, 0, 0, 0.0201946);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    box-sizing: border-box;
    border-radius: 25px;
  }

  .pay-section-second-data-card-plastic-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pay-section-second-data-card-plastic-info {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .pay-section-second-data-card-plastic-info-name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    color: #1f2b53;
  }

  .pay-section-second-data-card-plastic-info-number {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #1f2b53;
    margin-bottom: 20px;
  }

  .pay-section-second-data-card-plastic-info-date {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 38px;
      color: #1f2b53;
    }
  }

  .pay-section-second-data-card-information {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 45px;
  }

  .pay-section-second-data-card-information-titles {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #7782a3;
    }

    &-desc {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      text-align: right;

      color: #1f2b53;
    }
  }

  .pay-section-second-data-card-information-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Exa";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.05em;

    color: #07bc65;
    background: rgba(0, 210, 84, 0.15);
    border-radius: 382.831px;
  }

  .pay-section-second-data-card-decor {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 30px 0;

    &-icon {
      width: 100%;
    }
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .pay-section-second-data-card-pay {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &-desc {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: #000000;
      opacity: 0.4;
      margin-top: 40px;
    }
  }

  .pay-section-second-data-card-pay-content {
    &-desc {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      color: #7782a3;
    }

    &-sum {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 49px;

      color: #1e2a52;

      &-span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 49px;
        color: #7782a3;
      }
    }
  }
}
